*.jl.cov
*.jl.*.cov
*.jl.mem
*play.jl
assets/npm/*
assets/all.js
assets/prism*
assets/nouislider*
assets/katex*
assets/auto-render.min.js
docs/build/
docs/site/
docs/src/tutorial.md
*.ipynb_checkpoints
deps/build.log
